<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <!-- Bootstrap CSS from CDN with local fallback -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ohaUduj6Kik39nAdL2NpblU6RgHV9hHny7KkFQGaGOTywTYKHs2h/6bI5H/gA7hD" crossorigin="anonymous">
</head>
<body>
<h1>Hello</h1>

<!-- Bootstrap JS and dependencies from CDN with local fallback -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgYh3n3yVnGLC1xL7Hz9CoEkaP9L4FzRoTgE4D5SJfoUo23B0qU" crossorigin="anonymous"></script>
</body>
</html>